:root {
    --white: #FFFFFF;
    --black: #000000;
    --lightBlueDarken3: #0277BD;
    --pinkDarken1: #D81B60;
    --pinkDarken3: #AD1457;
    --greyDarken4: #212121;
    --greyDarken3: #424242;
}

body {
    background-image: linear-gradient(var(--pinkDarken1), var(--pinkDarken3), var(--pinkDarken1));
    color: var(--black);
    margin: 40px;
  }
  /* Dark mode */
  body.dark {
    background: var(--greyDarken4);
    color: var(--lightBlueDarken3);
  }

.welcome p {
  font-size: 15pt;
  font-weight: bolder;
}

#theme-toggle {
  float: right;
}

#cinema-btn {
  margin-bottom: 15px;
  width: 150px;
}

#search-btn {
  width: 150px;
}

#bored-btn {
  margin-bottom: 15px;
  width: 150px;
}

.btn {
  background-color: var(--lightBlueDarken3);
  border-radius: 10px;
}

h3 {
  font-size: 30px;
  color: var(--lightBlueDarken3);
}

h1 {
  text-align: center;
  background-color: var(--greyDarken3);
  border-radius: 25px;
  padding: 10px 0;
}

.search-section-text {
  font-size: 15pt;
  color: var(--white);
}

.search-section {
  background-color: var(--greyDarken4);
  margin: 0 50px;
  padding: 15px;
  border-radius: 10px;
}

#bored-section {
  margin-top: 30px;
}

#bored-section p {
  color: var(--white);
}

#search-input {
  width: 350px;
  background-color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

#cinema-input {
  width: 250px;
  background-color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
}

#result-Content div {
  background-color: var(--greyDarken3);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

#result-Content h3 {
  color: var(--black);
  line-height: 150%;
}

#footer {
  padding-top: 1px;
}

@media screen and (max-width: 768px) {
  body div {
    width: 90%;
    flex-direction: column;
  }
  #result-Content h3 {
    color: var(--black);
    line-height: 150%;
    font-size: 20px;
  }
  #search-input {
    width: 100%;
    background-color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
  .search-section {
    background-color: var(--greyDarken4);
    margin: 15px 50px;
    padding: 15px;
    border-radius: 10px;
  }
  }

/* @media (prefers-color-scheme: dark) {
     #result-Content div {
      background-color: var(--pinkDarken3);
     }
     } */
