:root {
    --white: #FFFFFF;
    --black: #000000;
    --lightBlueDarken3: #0277BD;
    --pinkDarken1: #D81B60;
    --pinkDarken3: #AD1457;
    --greyDarken4: #212121;
    --greyDarken3: #424242;
}

body {
    background: var(--pinkDarken3);
    color: var(--black);
    margin: 40px;
  }
  /* Dark mode */
  body.dark {
    background: var(--greyDarken4);
    color: var(--pinkDarken1);
  }

#theme-toggle {
  float: right;
  background-color: var(--lightBlueDarken3);
  border-radius: 10px;
}

h3 {
  font-size: 30px;
  color: var(--greyDarken4);
}

h1 {
  text-align: center;
  background-color: var(--greyDarken3);
  border-radius: 25px;
}

#search-input {
  width: 450px;
  background-color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

#cinema-input {
  width: 250px;
  background-color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

#result-Content div {
  background-color: var(--white);
  margin: 10px;
}

@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    }

@media (prefers-color-scheme: dark) {
     /* all your styles for dark mode here */
     }