:root {
    --white: #FBFEF9;
    --black: #000004;
    --blue: #0C6291;
    --raspberry: #A63446;
    --grape: #7E1946;
    --darkGrey: #1E1E24;
    --lightGrey: #444140;
}

@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    }

@media (prefers-color-scheme: dark) {
     /* all your styles for dark mode here */
     }